
<p-tabView>
  <p-tabPanel header="List" leftIcon="fa-list">
    <app-propertygrid (viewFinancials)="viewPropertyFinancials()"></app-propertygrid>
  </p-tabPanel>
  <!--<p-tabPanel header="Map" leftIcon="fa-map">
    Coming Soon
  </p-tabPanel>-->
  <p-tabPanel header="Sources" leftIcon="fa-gear">
    <a href="http://www.smithknowles.com/pending_foreclosure.php">Smith & Knowles</a><br />
    <a href="http://lundbergfirm.com/foreclosures">Lundberg & Associates</a><br />
    <a href="https://www.scalleyreading.net/">Scally & Reading & Bates</a><br />
    <a href="http://halliday-watkins.com/foreclosures/">Halliday, Watkins, & Mann</a><br />
    <a href="https://stox.quickbase.com/db/bk42trzjg">Orange</a><br />
  </p-tabPanel>
</p-tabView>

<p-sidebar header="Financials" [(visible)]="showFinancials"></p-sidebar>
