<p-dropdown #websiteFilter [options]="websiteStatus" (onChange)="filterByWebsite($event)"></p-dropdown>
<p-dataTable #dt [value]="properties" exportFilename="properties"
             sortField="auctionTime" sortOrder="1" reorderableColumns="true"
             [rowStyleClass]="formatRow" [editable]="true">
  <p-column field="startingBid" header="List Price">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="property.startingBid"></app-currencydisplay>
    </ng-template>
  </p-column>
  <p-column field="calculatedMaximumWiseOffer" header="Our Top Offer">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="min(
      property.calculatedMaximumWiseOffer,
      property.calculatedMaximumLiquidOffer,
      property.calculatedMaximumFinancableOffer)"></app-currencydisplay>
    </ng-template>
  </p-column>
  <p-column field="calculatedMaximumProfit" header="Profit">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="property.calculatedMaximumProfit"></app-currencydisplay>
    </ng-template>
  </p-column>
  <p-column field="address" styleClass="address" header="Address">
    <ng-template let-property="rowData" pTemplate type="body">
      <div pTooltip="{{property.verifiedAddress}}" >
        <a href="{{property.zillowUrl}}">{{property.address}}</a>
      </div>
    </ng-template>
  </p-column>
  <p-column field="auctionTime" header="Auction" sortable="true">
    <ng-template let-property="rowData" pTemplate type="body">
        {{property.auctionTime | date: 'EEEE, d MMM h:mm a' : '-0600'}}
    </ng-template>
  </p-column>
  <p-column field="saleStatus" header="Status"></p-column>
  <p-column field="trustee" header="Source"></p-column>
  <p-column field="actualWorth" header="Our Estimated Worth" [editable]="true">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="property.actualWorth"></app-currencydisplay>
    </ng-template>

    <ng-template pTemplate="editor" let-property="rowData">
      <input type="text" pInputText [(ngModel)]="property.actualWorth" (blur)="updateHomeWorth($event, property)"  />
    </ng-template>
  </p-column>
  <p-column header="Market Range">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="property.zillowLow"></app-currencydisplay> -
      <app-currencydisplay [currencyValue]="property.zillowHigh"></app-currencydisplay>
    </ng-template>
  </p-column>
  <p-column field="calculatedRepairCosts" header="Repairs" [editable]="true" [style]="{'width':'75px'}">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="property.calculatedRepairCosts"></app-currencydisplay>
    </ng-template>
    <ng-template pTemplate="editor" let-property="rowData" >
      <p-dropdown [options]="conditions" [(ngModel)]="property.condition" (onChange)="updateHomeWorth($event, property)"
                  [style]="{'width':'100%'}"></p-dropdown>
    </ng-template>
  </p-column>
  <p-column field="calculatedCommissions" header="Commissions">
    <ng-template let-property="rowData" pTemplate type="body">
      <app-currencydisplay [currencyValue]="property.calculatedCommissions"></app-currencydisplay>
    </ng-template>
  </p-column>

  <p-column field="onWebsite" header="">
    <ng-template pTemplate="header" let-col>
      <app-refreshbutton (Refresh)="refresh()"></app-refreshbutton>
    </ng-template>
    <ng-template pTemplate="body" let-property="rowData">
      <div [class]="property.onWebsite ? 'fa fa-check' : ''"></div>
    </ng-template>
  </p-column>
</p-dataTable>
<!--
address;
trustee;
county;
auctionTime;
startingBid;
saleStatus;
onWebsite;
verifiedAddress;
googlePlaceId;
zpid;
zillowLow;
zillowHigh;
actualWorth;
zillowSquareFeet;
zillowLotSize;
zillowBeds;
zillowBaths;
zillowUrl;
condition;
-->
