@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/voclain/theme.css";

.cancelled {
  text-decoration: line-through;
  color: gray;
}
.ui-datatable table {
  table-layout: auto
}
